<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .field-error {
        color: #dc3545;
        font-weight: 600;
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.9rem;
    }
    .field-error::before {
        content: "⚠️";
        font-size: 1rem;
    }
</style>
<body>
<div class="container">
    <h2>로그인</h2>
    <form action="" method="post" th:object="${memberLoginDTO}">
        <div role="alert">
            <div class="field-error" th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></div>
        </div>
        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" placeholder="아이디 입력" th:field="*{memberLoginId}">
            <div class="field-error" th:errors="*{memberLoginId}">ID ERROR</div>
        </div>

        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password"  placeholder="비밀번호 입력" th:field="*{memberPassword}">
            <div class="field-error" th:errors="*{memberPassword}">PASSWORD ERROR</div>
        </div>

        <div>
            <a th:href="@{/member/join}">회원가입</a>
        </div>

        <div>
            <div>
                <button type="submit">로그인</button>
            </div>
            <div>
                <button type="button" class=""
                        onclick="location.href='/'"
                        th:onclick="|location.href='@{/}'|">취소</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
