<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>게시글 목록</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div>
    <h2>📌 게시글 목록</h2>
    <div>
        <!-- 게시글 목록 -->
        <div>
            <div>
                <div >
                    <table style="border-style: solid">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>조회수</th>
                                <th>작성일</th>
                                <th>최근수정일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="post,stat : ${posts}">
                                <td th:text="${stat.count}">1</td>
                                <td><a th:text="${post.postTitle}" th:href="@{/post/detail/{postId}(postId=${post.id})}"/></td>
                                <td th:text="${post.memberLoginId}">작성자</td>
                                <td th:text="${post.postReadCount}">10</td>
                                <td th:text="${post.formattedPostRegisterDate}">2025-05-01</td>
                                <td th:text="${post.formattedPostUpdateDate}">2025-05-1 8</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<!--                페이징 처리-->
                <nav>
                    <div>
                        <ul class="pagination">
                            <li th:if="${currentPage>1}">
                                <a th:href="@{/post/list(page=${currentPage -1})}">« 이전</a>
                            </li>
                            <li th:each="i : ${#numbers.sequence(startPage,endPage)}" class="page-item">
                                <a th:href="@{/post/list(page=${i})}"
                                   th:text="|${i}|" class="page-link m-1"
                                   th:classappend="${i == currentPage ? 'border-danger' : ''}">1</a>
                            </li>
                            <li th:if="${currentPage<totalPages}">
                                <a th:href="@{/post/list(page=${currentPage+1})}">다음 »</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
        <!-- 사이드바 회원 정보-->
        <div>
            <div th:if="${loginMember!=null}">
                <div>
                    <strong th:text="|로그인 사용자:${loginMember.memberLoginId}|">로그인 사용자</strong>
                </div>
                <a th:href="@{/member/profile}">마이 페이지</a>
                <a th:href="@{/post/write}">➕ 새 글 작성</a>
                <a th:href="@{/member/logout}">🚪 로그아웃</a>
            </div>
            <div>
                <div th:if="${loginMember==null}">
                    <p>⚠️ 로그인 후 이용해주세요.</p>
                    <a th:href="@{/member/login}">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
